* text=auto eol=lf

*.go text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.svg text eol=lf
*.toml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.webp binary
*.woff binary
*.woff2 binary
